[submodule "UmbraAPI"]
	path = UmbraAPI
	url = https://github.com/umbrasys/UmbraAPI.git
	branch = main
[submodule "Penumbra.Api"]
	path = Penumbra.Api
	url = https://github.com/Ottermandias/Penumbra.Api.git
	branch = main
[submodule "Glamourer.Api"]
	path = Glamourer.Api
	url = https://github.com/Ottermandias/Glamourer.Api.git
	branch = main
