[submodule "MareAPI"]
	path = MareAPI
	url = https://git.umbra-sync.net/SirConstance/UmbraAPI.git
	branch = main
[submodule "Penumbra.Api"]
	path = Penumbra.Api
	url = https://github.com/Ottermandias/Penumbra.Api.git
[submodule "Glamourer.Api"]
	path = Glamourer.Api
	url = https://github.com/Ottermandias/Glamourer.Api.git
